<div class="container-fluid mg-3">
  <div class="main">
    <div class="main-cnt mg-5">
      <h1 class="text-center">Github Search</h1>
      <p>
        This is a simple application that generates User's github details.<br />Fill
        in the details below to get results:
      </p>

      <label for="username">Username:</label>
      <input
        class="input"
        type="text"
        #val
        placeholder="Enter your Github Username"
      />
      <button
        class="btn pd-3 bg-white"
        role="button"
        (click)="gitSearch(val.value)"
      >
        Search
      </button>
      <!-- <button class="repos" (click)="(openRepo)">View Repositories</button> -->
    </div>

    <div class="row mg-2">
      <div class="">
        <img src="{{ user.avatar_url }}" alt="{{ user.login }}" />
      </div>
      <div class="user-details">
        <h3>{{ user.login }}</h3>
        <p>Username:{{ user.login }}</p>
        <p>Followers:{{ user.followers }}</p>
        <p>Following:{{ user.following }}</p>
      </div>
    </div>
  </div>
</div>

<!-- <div>
  <h2>Repositories</h2>
  <h2>Repository name:{{ results.name }}</h2>
  <!-- <h3>{{ results.login }}</h3>
  <!-- <img src="{{ results.avatar_url }}" alt="{{ results.login }}" />
  <!-- <p>Username:{{ results.login }}</p>
  <p>Followers:{{ results.followers }}</p>
  <p>Following:{{ results.following }}</p> -->
<!-- </div>  -->
<!-- repo button -->
