input {
  width: 30%;
  padding: 4px;
  margin: 2px;
}
button {
  border-radius: 5%;
  background-color: bisque;
}
.card {
  background-color: bisque;
}
h1 {
  color: rgb(249, 228, 201);
}
a {
  text-decoration: none;
  color: black;
  text-decoration-line: underline;
}
