<div class="container mg-3">
  <div class="main text-center">
    <div class="main-cnt mg-5">
      <h1 class="text-center">Github Search</h1>
      <p>
        This is a simple application that generates User's github details.<br />Fill
        in the details below to get results:
      </p>

      <input
        class="input"
        type="text"
        #val
        placeholder="Enter your Github Username"
      />
    </div>

    <div class="container-fluid">
      <div class="">
        <div class="">
          <img src="{{ user?.avatar_url }}" alt="{{ user?.login }}" />
        </div>

        <button
          class="btn mt-2 pd-3"
          role="button"
          (click)="gitSearch(val.value)"
        >
          Search
        </button>
        <h3>{{ user?.login }}</h3>
      </div>

      <div class="">
        <button class="repos" (click)="openRepo(val.value)">
          View Repositories
        </button>
        <div class="row">
          <div class="col pt-1 m-2 text-center" *ngFor="let repo of repos">
            <div class="card">
              <h2><span>Repository name:</span> {{ repo.name }}</h2>
              <p><span>Description:</span> {{ repo.description }}</p>
              <a [attr.href]="repo.clone_url"
                >View {{ repo.name }} Repository on Github
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
