input {
  width: 30%;
  padding: 4px;
  margin: 2px;
}
button {
  border-radius: 5%;
  background-color: bisque;
}
.card {
  background-color: bisque;
  border: 1px solid rgb(90, 232, 90);
}
h1 {
  color: rgb(249, 228, 201);
}
a {
  text-decoration: none;
  color: rgb(83, 79, 79);
  text-decoration-line: underline;
}
button:hover {
  background-color: aliceblue;
}
