input {
  width: 30%;
  padding: 6px;
  margin: 2px;
  background-color: bisque;
  border: none;
  margin-bottom: 5px;
}
button {
  border-radius: 5%;
  background-color: bisque;
  margin: 3px;
  border: none;
}

img {
  margin: 5px;
}
.card {
  background-color: bisque;
  border: 1px solid rgb(90, 232, 90);
  padding: 5px;
}
h1 {
  color: rgb(243, 197, 137);
}
a {
  text-decoration: none;
  color: rgb(105, 32, 8);
  text-decoration-line: underline;
}
button:hover {
  background-color: aliceblue;
}
.repos {
  margin-bottom: 10px;
}
.container-fluid {
  background-color: rgb(14, 129, 129);
}
